fastapi
uvicorn
python-multipart
pydantic
python-dotenv

numpy
pandas
scikit-learn

sentence-transformers
torch

spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

pdfplumber
pdfminer.six
pdf2image
pytesseract
pillow
python-docx

sqlalchemy
psycopg2-binary